*{
  margin: 0px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.divContenedorNav{
  margin: 0;
  padding: 0;
}

.headerNav{
  background-color: rgb(86, 87, 94);
  font-size: 15px;
  padding: 20px;
  font-weight: 600;
  height: 60px;
  border-bottom: 2px solid #000000;
}

.NavHeader{
  width: 100%;
  max-width: 800px;
  color: white;
  text-align: center;
}

.link{
  color: white;
  text-decoration: none;
  top: 10px;
  display: inline;
}

.link a{
  color: white;
  text-decoration: none;
  top: 10px;
  display: inline;
}

.link1 button{
  top: 10px;
  display: inline;
  border: none;
  color: white;
  text-decoration: none;
  background-color: rgb(86, 87, 94);
  font-weight: bold;
}

.ul-nav{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.link a:hover{
  color: rgb(218, 144, 49);
}

.link:hover{
  color: rgb(218, 144, 49);
}
